<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esportes e Cultura - Colégio Xingu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="hero is-success">
        <div class="hero-body">
          <p class="title">
            Controle
          </p>
          <p class="subtitle">
            Escola de Esportes e Cultura
          </p>
        </div>
    </section>
    <div class="container">
        <div class="select">
            <select>
            <option>José Orlando de Queiroz</option>
            <option>Mileny Beccaria</option>
            <option>Julio Cesar</option>
            </select>
        </div>

        <table class="table is-bordered">
            <thead>
                <th>RM</th>
                <th>Nome</th>
                <th>Turma</th>
            </thead>
            <tr>
                <td>123</td>
                <td>José Orlando de Queiroz</td>
                <td>9º ANO A</td>
            </tr>
        </table>
    </div>
</body>
</html>